<div class="row">
  <div class="col">


    <ng-container *ngIf="(results | async) as album"> 
    
      <h3>{{album.id}}</h3>
    
      <small class="text-muted">{{album.name}} </small>
    </ng-container>
  </div>
</div>

<div class="row">
  <div class="col">
    <ng-container  *ngIf="(results | async) as album">
      
      <app-album-card [album]="album"></app-album-card> 

    </ng-container>
    
  </div>
  <div class="col">
    <ng-container  *ngIf="(results | async) as album">
    <dl>
      <dt>Album Name:</dt>
      <dd>{{album.name}}</dd>
      <dt>Artist Name:</dt>
      <dd>{{album.artists[0].name}}</dd>
    </dl>
  </ng-container>
  </div>
</div>
