<div *ngIf="!playlist">
  <p class="alert alert-info">Select playist</p>
</div>

<div *ngIf="playlist">

  <dl [title]="'Title: ' + playlist.name" [attr.data-playlist-id]="playlist.id">

    <dt>Name:</dt>
    <dd [style.font-size.px]="size" [ngStyle]="{
        'border-bottom': 2 / 2 + 'px solid' 
      }">{{ playlist.name }}</dd>

    <dt>Public:</dt>
    <dd class="isVisible" [class.isPublic]="playlist.public" [class.isPrivate]="!playlist.public">{{ playlist.public ?
      'Yes' : 'No' }}</dd>

    <dt>Desciption:</dt>
    <dd>{{ playlist.description }}</dd>
  </dl>


  <button class="btn btn-info" (click)="editClick()">Edit</button>
</div>